<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Following permissions are added. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <!-- Required for Android 9 (API 28) and above -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- Required for Android 14 (API 34) and above (choose the type matching your use case) -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".FTPServerService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse" /> <!-- e.g., location, mediaPlayback, specialUse -->
        <receiver android:name=".FTPServerService$NotificationReceiver" android:exported="false">
            <intent-filter>
                <action android:name="ACTION_TOAST" />
            </intent-filter>
        </receiver>
    </application>

</manifest>